<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/authentication/profile.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/download.png') }}">
  <title>Profile</title>
</head>
<body>

      
    <div class="navbar">
      <div class="dropdown">
          <button class="dropbtn" >Account</button>
          <div class="dropdown-content">  
            <a href="{{ url_for('main.profile') }}">Profile</a>
            <a href="{{ url_for('auth.login') }}">Log In</a>
            <a href="{{ url_for('auth.signup') }}">Sign Up</a>
            <a href="{{ url_for('auth.logout') }}" >Log out</a>
          </div>
      </div> 
        <a style="float:left" href="/">Home</a>
        <a href="/menu">Menu</a>
        <a href="/aboutus">About Us</a>
    </div>

    
    <div class="container-profile">
        <div class="title">
            <h1> {{name}} Welcome to your Profile </h1>
        </div>         
            <a href="/order" class="button">Ur order</a>
          <h3 class="email">Email: {{email}}</h3>
    </div>
    
    


</body>
</html>