<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/thanks.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Thank you for choosing Mario & Luigi's Pizzeria!</h1>
        <h2>Your order number is: {{orderNumber}}</h2>
        <h2>Make sure to remember your number, so you can get your order!</h2>
        <a href="/" class="button3">Home</a>
    </div>
</body>
</html>